---
layout: default
options:
	appendRootClass: "-stylesetAcetate -borderValNone"
---
<main id=content class=s-cmsContent aria-label=Content itemprop=mainContentOfPage>
	<article class="o-box -viewCard o-center" itemscope itemtype="https://schema.org/BlogPosting">
		<hgroup class=c-header>
			{%- if page.date != nil -%}
				<h5 class="o-box__meta{% if topics != nil %} -alignStart@wrist-gt{% endif %}" alt="{{ page.date | localDateFull }}">
					<time datetime="{{ page.date | htmlDateString }}" itemprop=datePublished>
						{{ page.date | localDMY }}, {{ page.date | localDayOfWeek }}
					</time>
				</h5>
			{%- endif -%}
			{%- if topics != nil -%}
				<h6 class="o-box__meta -alignEnd@wrist-gt" itemprop=keywords>
				{%- for topic in topics %}{{topic}}{% unless forloop.last %}, {% endunless %}{% endfor %}
				</h6>
			{%- endif -%}
			{%- if title != nil -%}
				<h1 class=o-box__title>{{ title | escape }}</h1>
			{%- endif -%}
		</hgroup>
		<section itemprop=articleBody>
		{{ content }}
		</section>
		<hr>
		<b>
		<svg class=pi viewBox='0 0 18 18' width=18px>
			<use href='/pi.svg#paper-send'></use>
		</svg> Share This Page:</b>
		{% comment %} TODO: Add https://github.com/zachleat/webcare-webshare here.{% endcomment %}
		<a href="https://mastodon.social/share?text={{ title | escape }} by {{ site.author.mastodon }}&amp;url={{ page.url | prepend: site.baseurl }}"
		data-src="{{ title | escape }} by {{ site.author.mastodon }}&amp;url={{ page.url | prepend: site.baseurl }}"
		class="mastodonAskInstance">Comment on Mastodon</a>
		<a href="https://twitter.com/intent/tweet?text={{ title | escape }} by {{ site.author.twitterx }} {{ page.url | prepend: site.baseurl }}"
		>Comment on Twitter (X)</a>
			<a class=url itemprop=url href="{{ page.url | prepend: site.baseurl }}" hidden></a>
	</article>
	{% comment %} {%- include "webmention/container" %} {% endcomment %}
</main>
